body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}


.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-has-children:hover {
  background: #eee;
}

.pure-menu-has-children:hover ul {
  top: 35px; /* height of menu li */
  left: 0;
  visibility: visible;
  border: 1px solid #b7b7b7;
  background: #fff;
}

.banner {
    background: none;
    height: 0;
}

.hs-tag {
    text-align: center;
    font-size: 1em;
    background: #cfcccc;
    color: white;
    margin-bottom: 2em;
}

 .hs-tables {
    max-width: 980px;
    margin: 0 auto;
 }
 .information {
    background-color: #3B3C40;
    margin: 0 auto 2em;
    color: white;
}
.info {
    max-width: 980px;
    margin: 0 auto;
}
.hs-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

.hs-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

.hs-table-eic .hs-table-header {
    background: #9ACA82;
}

.hs-table-hsig .hs-table-header {
    background: #FECC5B;
}

.hs-table-header {
    background: #eee;
    color: #fff;
}
    .hs-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;

    }

.hs-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .hs-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }

.hs-table-list,
.hs-table-pfxlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hs-table-list li,
.hs-table-pfxlist li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}

.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: white;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }

@media(min-width: 767px) {

    .hs-table {
        margin-bottom: 0;
    }
}

@media (min-width: 480px) {
    .banner {
        height: 500px;
        width: 100%;
        background: transparent url('/img/mountains.jpg') 0 0 no-repeat fixed;
        text-align: center;
        background-size: cover;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/mountains.jpg', sizingMethod='scale');

        display: table;
    }
}
